/* Set font of page to Arial */
body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

/* Add class styling the bars of the barplot */
.bar {
    fill: rosybrown;
}

path {
  fill: blue;
  stroke: white;   
}

/* Add class styling the slider */
#slider {
    width: 100%;
    height: 100%;
    scroll-snap-type: x mandatory;
}

#slideContainer {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    position: relative;
}

datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: horizontal-tb;
  height: 50%;
  text-align: center;
  font-size: 1.2vw;
}

input[type="range"] {
  width: 100px;
  margin: 0;
}

.selected{
    fill:yellow;
}
