/* Set font of page to Arial */
body {
    font-family: Arial;
    background-color: #E6FFCC;
}

h1 {
    text-align: center;
}



/* styling for navigation bar */
.navbar {
    overflow: hidden;
    background-color: darkgreen;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: ghostwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.center {
    text-align: center;
}


/* Styling for Visualization 1 */

.highlight {
    stroke: lightseagreen;
    stroke-width: 3px;
}


/* VISUALIZATION 1.2 SPECIFIC STYLING [BARPLOT] */
/* Add class styling the bars of the barplot */
.bar {
    fill: rosybrown;
    stroke: saddlebrown;
    stroke-width: 3px;
}

.pt-tooltip {
    opacity: 0;
    background-color: green;
    border: solid;
    border-width: 2px;
    border-radius: 7px;
    padding: 3px;
    position: absolute;
    color: ghostwhite;

}

.point {
    fill: green;
    opacity: 1;
}

.axis-text {
    font-size: 10px;
}

.xlab {
    text-anchor: middle;
}

.title {
    text-anchor: middle;
    text-align: center;
    font-size: 22px;
}

.border {
    stroke: black;
    stroke-width: 5px;
    fill: none;
}

/* Add class styling the slider */
#slider {
    width: 100%;
    height: 100%;
    scroll-snap-type: x mandatory;
}


/*.tooltip {
    opacity: 0;
    background-color: lightgrey;
    border: solid;
    border-width: 2px;
    border-radius: 7px;
    padding: 3px;
    position: absolute;
}*/

.line {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

/* VISUALIZATION 3 SPECIFIC STYLING [PIE CHART] */

.slices {
    stroke: black;
    stroke-width: 2px;
    opacity: 0.7;
}

.slice-labs {
    text-anchor: middle;
    font-size: 17px;
}

.sq-labs {
    text-anchor: left;
    text-align: center;
    font-size: 11px;
}

.selected {
    fill: #4A0404;
    stroke: #00FF00;
    opacity: 1;
}


/* Creates a flex container to make 2 columns */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Adjusts the left column */
.flex-left {
    width: 50%;
    flex-wrap: flex;
    flex-direction: column;
}

/* Adjusts the right column */
.flex-right {
    flex-direction: column;
    width: 50%;
    flex-wrap: wrap;
}


/* Highlight the slice of the bar chart on click */
.highlight-slice {
    stroke: lime;
    stroke-width: 5px;
}









