/* Set font of page to Arial */
body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

/* Add class styling the bars of the barplot */
.bar {
    fill: rosybrown;
}


/* Add class styling the slider */
#slider {
    width: 100%;
    height: 100%;
}
